/* BASIC STYLING  */

html {
    box-sizing: border-box;
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

:root {
    --poster-background-yellow: #F3BE21; 
    --poster-background-green: #3F520B; 
    --poster-background-blue:#035186; 
}

/* GENERAL STYLING  */

.parent {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}


.poster_border {
    min-width: 40rem;
    min-height: 55rem;
   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.poster_content_container {
    display: flex;
}

.title {
    font-size: 2rem;
    padding-left: 1rem;
}

.text {
    font-size: 1rem;
    padding: 0 1rem 
}

/* YELLOW SECTION STYLING */

.yellow_strip {
    background-color:var(--poster-background-yellow);
    width: 3rem;
    min-height: 100%
}

/* GREEN SECTION STYLING */

.green_strip {
    background-color:var(--poster-background-green);
    width: 22rem;
    min-height: 100%;

    display: flex;
    justify-content: space-between;
}

.space {
    padding-bottom: 10rem;
}

/* BLUE SECTION STYLING */

.blue_strip {
    background-color:var(--poster-background-blue);
    width: 15rem;
    min-height: 100%;  
}

.blue_strip .title,
.blue_strip .text {
    padding-bottom: 2rem;
}